[data-ruby] {
	position: relative;
	display: inline-block;
}

[data-ruby]::before {
	content: attr(data-ruby);
	position: absolute;
	top: -1.8em;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 0.5em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}